<div class="relative top-[60px] ml-[640px]">
   <app-step-3></app-step-3>
</div>


<div class="relative top-[110px] ml-[92px]">
    <p class="font-bold font-monster  tracking-wider text-[20px] gap-2 mb-3 -mt-4">
        STEP 2: UPLOAD KYC DOCUMENTS
    </p>
    <div class=" grid grid-cols-2 mt-10 ">


<!-- 1 st block -->
        <div class="flex flex-row items-center justify-between w-[425px]">
           
            <div class="flex flex-col">
                <label class="text-[16px] font-monster font-bold">AADHAAR CARD</label>
                <span class="text-[14px] font-monster w-[340px]">Lorem ipsum dolor sit amet consectetur. Sed rulla vel
                    ultrices.</span>
            </div>
           
        </div>



    </div>



    <!-- check box -->
    <div class="gadiv-1 mt-3 flex items-center relative top-[100px]">
        <div class="inline-flex items-center h-4 w-[418px]">
            <label class="relative flex items-center p-3 rounded cursor-pointer h-4 w-4 -ml-1 mt-1" htmlFor="blue">
                <input type="checkbox"
                    class="before:content['']  peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border  transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-gray-200 before:opacity-0 before:transition-opacity checked:border-gray-100   hover:before:opacity-10"
                    id="term1" checked />
                <span
                    class="absolute text-[#0290AA] h-5 w-5 transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor"
                        stroke="currentColor" stroke-width="1">
                        <path fill-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                </span>
            </label>
            <div class="flex">

                <label class="gap-2 font-monster font-medium w-[800px] text-[14px]">
                    I authorize the platform to verify the uploaded 
                    <span class="text-[#0290AA] font-monster font-medium">
                        <a href="#" class="text-[14px]">
                            Kyc Documents
                        </a>
                        
                    </span>
                    .
                </label>
            </div>
        </div>
    </div>
    <div class="-ml-8 relative top-32">
        <button class=" bg-[#0290AA] font-monster font-semibold h-[45px] w-[205px] rounded m-7  text-white">
            Next
        </button>

        <button class="text-[#0290AA] font-monster h-[45px] w-[205px] bg-gray-200 rounded font-semibold">
            Cancel
        </button>

    </div>
</div>