<div>
    <svg width="232" height="25" viewBox="0 0 232 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="25" fill="#0290AA"/>
        <rect x="138" width="25" height="25" fill="#CAEBD8"/>
        <rect x="69" width="25" height="25" fill="#CAEBD8"/>
        <rect x="207" width="25" height="25" fill="#CAEBD8"/>
        <line x1="24.9944" y1="12" x2="69.0058" y2="12" stroke="#CAEBD8"/>
        <line x1="94" y1="11.5" x2="138.011" y2="11.5" stroke="#CAEBD8"/>
        <line x1="163" y1="11.5" x2="207.011" y2="11.5" stroke="#CAEBD8"/>
        </svg>
        
</div>