
<main class="flex gap-4">

    <!-- this add character in page -->
    <app-character></app-character>

    <!-- this is for the vertical lines -->
    <app-lines></app-lines>

    <!-- this one is for sign up section -->
     <div class="flex flex-col ">

         <app-main class="flex mt-[180px] ml-[130px]"></app-main>
         <label class="text-[15px] mt-11 ml-[220px] flex flex-row gap-2">Made with 
            <span>
                <app-heart></app-heart>
            </span>
            in India</label>
        </div>

</main>
